@use '../../../../../styles/base/breakpoints.scss' as *;
@use '../../../../../styles/base/variables.scss' as *;

.message {
  max-width: 85%;

  padding: 12px;

  border-radius: 8px;

  word-wrap: break-word;
  white-space: pre-wrap;
}

.anotherPersonsMessage {
  align-self: flex-start;

  background-color: var(--color-background-message);
}
.ownMessage {
  position: relative;
  align-self: flex-end;

  background-color: var(--color-background-own-message);

  color: #ffffff;
}

.timeMessage {
  transform: translateY(10px);
  float: right;
  padding-left: 8px;

  font-size: 10px;
}
.initials {
  font-weight: 600;
  font-size: 24px;
}

@keyframes showNewMessage {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.newMessage {
  animation: showNewMessage 0.5s forwards;
}
