@import './base/reset.scss';

html {
  height: 100%;
}

body {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
}

.main {
  height: calc(100vh - var(--header-height) - env(safe-area-inset-bottom));

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--accessibility-outline);
}
