.section {
  width: 100%;
  margin-top: auto;
  padding: 8px;

  border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.icontainer {
  max-width: 750px;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.input {
  flex: 1;

  height: 56px;
  padding: 8px;

  border-radius: 8px;

  background-color: #f0f0f3;

  font-size: 18px;
}

.submit-btn {
  padding: 8px;
}

.submit-btn-img {
  transition: filter 0.3s;
  &:hover {
    filter: grayscale(100%) brightness(1) sepia(1) hue-rotate(180deg)
      saturate(500%) contrast(2);
  }
}
