@use '../../../styles/base/breakpoints.scss' as *;
@use '../../../styles/base/variables.scss' as *;

.section {
  flex: 1;
  overflow-y: auto;

  display: flex;

  background-color: var(--color-background-chat);

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    flex-grow: 1;

    max-width: 700px;
    margin: 0 auto;
  }
  .emptyInfoMessage {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .messagesList {
    display: flex;
    flex-direction: column;

    row-gap: 8px;

    padding: 10px;

    @include tablet {
      padding: 16px;
    }
  }

  .message {
    max-width: 85%;

    padding: 12px;

    border-radius: 8px;

    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .anotherPersonsMessage {
    align-self: flex-start;

    background-color: var(--color-background-message);
  }
  .ownMessage {
    position: relative;
    align-self: flex-end;

    background-color: var(--color-background-own-message);

    color: #ffffff;
  }

  .timeMessage {
    transform: translateY(10px);
    float: right;
    padding-left: 8px;

    font-size: 10px;
  }

  @keyframes showNewMessage {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .newMessage {
    animation: showNewMessage 0.5s forwards;
  }
}
