@use '../../../styles/base/breakpoints.scss' as *;
@use '../../../styles/base/variables.scss' as *;

.section {
  flex: 1;
  overflow-y: auto;

  display: flex;

  background-color: var(--color-background-chat);

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  .emptyInfoMessage {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .messagesList {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;

    row-gap: 8px;

    padding: 10px;

    @include tablet {
      padding: 16px;
    }

    &.notPrivate {
      row-gap: 15px;
    }
  }
}
