@use '../../../styles/base/variables.scss' as *;

.section {
  flex-grow: 1;
}

.form {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}
.containerPreviewImage {
  position: relative;

  width: 100px;
  height: 100px;

  cursor: pointer;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;

    z-index: 1;
  }

  .addPhotoIcon {
    transition:
      width 0.3s ease,
      height 0.3s ease;
    z-index: 2;
  }
  &:hover {
    .addPhotoIcon {
      width: 34px;
      height: 34px;
    }
  }
}
.avatarPreview {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.defaultPreviewAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;

  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: #f0f0f3;

  cursor: pointer;

  &:hover {
    outline: 2px solid var(--accessibility-outline-transparent);
  }

  &:focus-visible {
    outline: 2px solid var(--accessibility-outline);
  }
}
.previewAvatarText {
  color: #000;
  font-size: 10px;
  text-align: center;
}
.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.fieldContainer {
  position: relative;
  width: 100%;

  .fieldName {
    display: inline-block;
    margin-bottom: 5px;
  }

  .errorText,
  .recommendText {
    margin-top: 4px;

    font-size: 12px;
  }
  .errorText {
    color: red;
  }
  .recommendText {
    color: var(--color-gray-strong);
  }
  .avatarInput {
    display: none;
  }
  .input,
  .textarea {
    width: 100%;
    padding: 8px;

    border-radius: 8px;
    background-color: #f0f0f3;
    outline: none;

    font-size: 18px;

    &:hover {
      outline: 2px solid var(--accessibility-outline-transparent);
    }

    &:focus-visible {
      outline: 2px solid var(--accessibility-outline);
    }
  }
  .input {
    height: 56px;
  }
  .textarea {
    resize: none;
  }
}

.submitBtn {
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

// Заготовка на будущее, мб использую
// .newError {
//   max-height: 0;
//   opacity: 0;
//   visibility: hidden;
//   overflow: hidden;
//   color: red;
//   transition:
//     max-height 1s ease,
//     opacity 1s ease;
// }
// .newError.active {
//   max-height: 100px;
//   visibility: visible;
//   opacity: 1;
// }
