:root {
  --color-background-chat: #fff;

  --color-background-own-message: #2f53bd;
  --color-text-own-message: #ffffff;

  --color-background-message: #f3f3f3;
  --color-text-message: #2c2c2e;

  --color-chat-name: #0d1217;
  --color-neutral: #686a8a;

  --color-gray: #e3e3e3;
  --color-gray-strong: #837d7d;

  --header-height: 56px;

  --accessibility-outline-transparent: rgba(96, 107, 207, 0.7);
  --accessibility-outline: rgb(96, 107, 207);
}
