@use '../../../styles/base/breakpoints.scss' as *;
@use '../../../styles/base/variables.scss' as *;

.section {
  display: flex;
  overflow-y: auto;

  flex: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;

    flex: 1;

    display: flex;
    flex-direction: column;
  }

  .chatList {
    flex-grow: 1;
    padding: 5px 0px;
    & > :not(:first-child) {
      border-top: 1px solid rgb(0 0 0 / 15%);
    }
  }

  .link-wrapper-chat {
    color: inherit;
    display: block;
  }

  .createChatContainer {
    width: 100%;
    position: sticky;
    bottom: 10px;
  }

  .createChatBtn {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: greenyellow;
    transition: all 0.3s;
    animation: pulse 2s infinite;

    &:hover {
      animation: none;
      transform: scale(1.1);
      transition: transform 0.5s ease;
    }

    &:focus-visible {
      outline: 2px solid (--accessibility-outline);
    }

    &.noAnimation {
      animation: none;
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(28 255 0 / 40%);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(28 255 0 /0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(28 255 0 / 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(28 255 0 / 40%);
    box-shadow: 0 0 0 0 rgba(28 255 0 / 40%);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(28 255 0 / 0);
    box-shadow: 0 0 0 10px rgba(28 255 0 / 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(28 255 0 / 0);
    box-shadow: 0 0 0 0 rgba(28 255 0 / 0);
  }
}
