@use '../../../styles/base/breakpoints.scss' as *;

.languageOptions {
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @include desktop {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-left: 0px;
        column-gap: 15px;
    }
}

.listLanguage {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
}

.item {
    padding: 5px;
    cursor: pointer;
    position: relative;

    @include desktop {
        padding: 10px;
    }
}

.activeItem {
    cursor: default;
    color: #0869ff;
    font-weight: 700;
}

.swapBlock {
    padding-left: 20px;

    @include desktop {
        padding-left: 0px;
    }
}

.swapBtn {
    padding: 10px;
    &:active {
        transform: scale(1.1);
        svg {
            fill: #0869ff;
        }
    }
}
.swapBtnDisabled {
    svg {
        fill: gray;
    }
}

.select {
    position: relative;
    width: fit-content;
    font-size: 16px;
    padding: 5px 30px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition:
        border-color 0.3s,
        color 0.3s;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #333;
        transform: translateY(-50%);
        pointer-events: none;
    }

    &:hover {
        border-color: #007bff;
    }

    &:focus {
        border-color: #007bff;
        color: #007bff;
    }

    &.activeSelect {
        border-color: #007bff;
        color: #007bff;
    }

    option {
        color: #333;
    }

    option:checked {
        color: #007bff;
        background-color: #f0f8ff;
    }
}
